body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(199, 159, 111) !important;
}

canvas 
{
    display: block;
    border: 1px solid black;
}

.modal
{
    background-color: rgba(0, 0, 0, 0.377);
    padding-top: 200px;
}

.modal-content
{
    background-color: black !important;
}

.modal-title
{
    color: #ffffff;
}

.modal-body
{
    color: rgb(255, 255, 255);
}

.modal-footer
{
    color: white;
}

.modal-backdrop-custom
{
    display: none !important;
}

.rule-modal-content
{
    background-color: rgba(0, 0, 0, 0.548) !important;
    z-index: 2;
}

.rule-modal-content ul
{
    list-style-type: none;
}

.rule-modal-content td
{
    padding-right: 20px;
}

.howToPlayButton
{
    margin-top: 15px;
}